@charset "UTF-8";
/* CSS Document */

html {
	margin: 0;
	padding: 0;
}

body {
	width: 1200px;
	/*background-image: url(zengrid.jpg);*/
	min-height: 2200px;
	background-image: url("images/starrysky.jpg");
	background-repeat: no-repeat;
	background-size: 116%;
	background-attachment: fixed;
	font-family: 'Gill Sans', sans-serif;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

body p, body li {
	font-size: 1.2em;
}

h1 {
	font-family: federo;
}

h3 {
	font-family: Amarante;
}

.page-wrapper {
	
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

header h1 {
	margin-top: 8em;
	width: 540px;
	height: 33.75px;
	
	font-size: 2em;
	font-weight: 900;
	text-align: center;
	padding: 1em 2.4em 1em 2.4em;
	background-image: linear-gradient(to bottom, darkgray, lightgray 70%);
	border-radius: 45%;
	position: absolute;
	top: 50px;
	left:-128px;
	z-index: 5;
}

header h2 {
	font-weight: 700;
	font-size: 1.6em;
	position: absolute;
	top: 528px;
	left: 45px;
	z-index: 3;
	margin-top: -4.6em;
}

.extra1 {
	position: absolute;
	width: 225px;
	height: 150px;
	background-image: url("images/greenhouses2m.jpg");
	background-repeat: no-repeat;
	background-size:contain;
	border-top-left-radius: 90%;
	border-top-right-radius: 90%;
	top: 20.8em;
	left: 230px;
	margin-top: -8em;
	z-index: 1;
}

.extra2 {
	background-image: linear-gradient(35deg, orange, #fff7cc 25%, cadetblue 44%, darkmagenta 65%);
	width: 1380px;
	height: 720px;
	border-bottom-left-radius: 1200%;
	border-bottom-right-radius: 90%;
	transform: rotate(-5deg);
	position: fixed;
	top: -200pt;
	left: 510px;
}

.summary p:first-of-type {
	position: fixed;
	width: 240px;
	height: 500px;
	left: 680px;
	top: 0px;
	z-index: 1;
	color: black;
}

.summary p:last-of-type {
	position: fixed;
	width: 240px;
	height: 500px;
	left: 790px;
	top: 120px;
	z-index: 2;
	color: black;
}

.extra3 {
    width: 660px;
    height: 101.25px;
    background-image: url("images/starburst.jpg");
    background-repeat: no-repeat;
    background-size: 880px 220px;
    background-position: -110px -60px;
    position: absolute;
    top: 500px;
    left: 6px;
    z-index: 1;
    opacity: 0.75;
    /*border: 15px solid #183155;*/
    border-radius: 50%;
	margin-top: -8em;
}

.preamble {
	position: absolute;
	top: 604px;
	left: -10px;
	padding: 1.5em 3em 2.5em 3em;
	width: 360px;
	height: 360px;
	background-color: ghostwhite;
	text-align: justify;
	/*overflow: scroll;*/
	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 50px;
	opacity: .85;
	z-index: 25;
	margin-top: -8em;
}

.preamble h3 {
	text-align: center;
	margin-top: -.8em;
	font-size: 1.2em
}

.main {
	width: 340px;
    height: 420px;
	position: absolute;
	top: 1182px;
	left: 346px;
	padding-top: 1.2em;
	padding-bottom: 1em;
	padding-left: 2em;
	padding-right: 2em;
	overflow: scroll;
	background-color: ghostwhite;
	opacity: .8;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	z-index: 3;
	margin-bottom: 2em;
	margin-top: -8em;
}

.main h3 {
	text-align: center;
	font-size: 1.2em;
	margin-top: -.25em;
}

.design-selection {
	position: fixed;
	top: 165px;
	left: 945px;
	z-index: 1;
}

.design-selection h3 {
	font-size: 1.2em;
	margin-bottom: -.5em;
}

.extra4 {
	width: 590px;
	height: 75px;
	background-color: lightgray;
	background-image: linear-gradient(to bottom, darkgray, lightgray 70%);
	border-radius: 45%;
	position: absolute;
	left: 370px;
	top: 1100px;
	z-index: 4;
	margin-top: -8em;
}

.extra4::before {
	content: 'CSS Main';
	font-family: federo;
	font-size: 1.5em;
	font-weight: 700;
	position: relative;
	left: 244px;
	top: 24px
	
}

.extra5 {
	position: absolute;
	width: 180px;
	height: 120px;
	background-image: url("images/magicgarden.jpeg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 0px -12px;
	border-top-left-radius: 90%;
	border-top-right-radius: 90%;
	left: 576px;
	top: 1010px;
	z-index: 2;
	margin-top: -8em;
}

.sidebar {
	width: 480px;
	height: 64px;
	background-color: lightgray;
	background-image: linear-gradient(to bottom, darkgray, lightgray 70%);
	border-radius: 45%;
	position: absolute;
	left: 6px;
	top: 1700px;
	z-index: 2;
	margin-top: -8em;
}

.sidebar::before {
	content: 'CSS Aside';
	font-family: federo;
	position: relative;
	font-size: 1.3em;
	font-weight: 600;
	left: 196px;
	top: 20px;
}

.extra6 {
	position: absolute;
	width: 180px;
	height: 120px;
	background-image: url("images/supertreegrove.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 0px -12px;
	border-top-left-radius: 90%;
	border-top-right-radius: 90%;
	left: 276px;
	top: 1630px;
	z-index: 1;
	margin-top: -8em;
}

.sidebar h3 {
	font-size: 1.2em;
}

.wrapper {
	width: 320px;
	height: 300px;
	background-color: ghostwhite;
	opacity: .8;
	margin-left: 5em;
	position: relative;
	top: 24px;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
}

 .design-archives nav {
	padding-left: 3.8em
}

.design-archives li a {
	z-index: 10;
}

.zen-resources ul {
	padding-left: 6.2em;
}

.design-archives h3, .zen-resources h3 {
	padding-left: 4em;
	padding-top: .75em;
}

  footer a {
	color: red;
	font-size: 1.2em;
	padding: .7em;  
}

footer a:hover {
	color: orangered;
}

footer a:active {
	color: darkred;
}

a:hover {
	color: orangered;
}

footer a:visited {
	color: purple;
}

a:active {
	color: darkred;
}

a:visited {
	color: purple;
}
	
/*footer {
    position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 1500px;
	z-index: 1550;
}*/